.table {
  &__body {
    max-width: em(850);
    border-collapse: collapse;
    text-align: center;
    @include responsiveValue("font-size", 16, 9);
  }

  &__head {
  }

  &__body {
  }

  th {
    @media (min-width: $mobile) {
      white-space: nowrap;
    }
  }

  td {
    @media (max-width: $mobileSmall) {
      word-break: break-word;
    }
  }

  th,
  td {
    padding-top: em(5);
    padding-bottom: em(5);
    @include responsiveValue("padding-left", 5, 1);
    @include responsiveValue("padding-right", 5, 1);
    border: em(1) solid $mainColor;
  }

  a {
    font-style: italic;
    transition: opacity 0.3s ease 0s;

    &:hover {
      opacity: 0.5;
    }
  }
}
